<html>
  <head>
    <link rel="stylesheet/less" type="text/css" href="../css/login.less" />
    <script src="../js/jquery.min.js"></script>
    <script src="../js/less-1.1.3.min.js"></script>
    <script src="../js/jquery.cookie.js"></script>
    <script src="../js/login.js"></script>
  </head>
  <body>
    <div id="formBox">
      <div>musicnote</div>
      <div id="instructions">Log In With Your Evernote Account</div>
      <input id="username" value="username" />
      <input id="password" type="password" value="password" />
      <button onclick="login()">Log In</button>
      <div id="error">Incorrect login</div>
    </div>
  </body>
</html>