/* Mixins */
@import "mixins.less";
 
/* Variables */
@heightAdj: 100px;
@whiteHeight: 460px - @heightAdj;
@blackHeight: 320px - @heightAdj;

/* The CSS */
#piano {
  background-color: #272927;
  color: black;
  position: absolute;
  text-align: center;
  width: 4685px;
  padding: 10px 10px 13px;
  top: 0;
  left: 0;
  .box-shadow(0 0 10px black);

  #pianoBody {
    width: 100%;
    position: relative;
    float: left;

    #littleRedLine {
        background-color: #9C0413;
        color: black;
        height: 5px;
        position: absolute;
        top: 1px;
        width: 100%;
        z-index: 100;
    }

    .octave {
      position: relative;
      float: left;

      .flats {
        :nth-child(1) {
          margin-left: 67px;
        }
        :nth-child(2) {
          margin-left: 157px;
        }
        :nth-child(3) {
          margin-left: 338px;
        }
        :nth-child(4) {
          margin-left: 428px;
        }
        :nth-child(5) {
          margin-left: 517px;
        }
      }

      .key {
        position: relative;
        .kbkeyname, .keyname {
            position: absolute;
            display: none;

            &.kbkeyname {
              color: #9C0413;
            }

            &.keyname {
              color: #ff9000;
            }
        }

        .oN {
          font-size: 3em;
          top: 50px;
          left: 32px;
          margin: 0;
          position: absolute;
          display: none;
        }

        &.white {
          float: left;
          width: 88px;
          height: @whiteHeight;
          background-color: #F4F4F4;
          border: 1px solid #626262;
          position: relative;
          .border-radius(0 0 15px 15px);
          .gradient(center bottom , #FFFFFF 90%, #CCCCCC 100%);
          .box-shadow(0 -10px 2px 0px #838383 inset, 0 -60px 40px 10px #EEEEEE inset);

          &:active, &.pressed {
            border: 1px solid #343434;
            .gradient(center bottom , #FFFFFF 90%, #CCCCCC 100%);
            .box-shadow(0 -5px 2px 0px #838383 inset, 0 -3px 20px -3px #272927 inset);
            .gradient(center bottom , #FFFFFF 90%, #CCCCCC 100%);
          }

          .kbkeyname, .keyname {
            font-size: 4em;

            &.kbkeyname {
              text-shadow: 1px 1px 0 #7E6D1F;
              top: 210px;
              left: 33px;
            }

            &.keyname {
              text-shadow: 2px 2px 0 #7E6D1F;
              top: 280px;
              left: 23px;
            }
          }
        }

        &.black {
          float: left;
          width: 44px;
          height: @blackHeight;
          background-color: black;
          border-bottom: 2px solid black;
          border-left: 2px solid black;
          border-right: 2px solid black;
          position: absolute;
          top: 6px;
          z-index: 100;
          .border-radius(0 0 5px 5px);
          border-top: 0px;
          .box-shadow(0 -9px 10px 9px #303030 inset, 0 -15px #F7F7F7 inset);

          &:active, &.pressed {
            border: 1px solid #CECECE;
            border-top: 1px solid #626262;
            .box-shadow(0 0 6px 7px #303030 inset, 0 -5px #F7F7F7 inset);
          }

          .kbkeyname, .keyname {
            &.kbkeyname {
              font-size: 2em;
              text-shadow: 1px 1px 0 #B31706;
              margin: 0;
              top: 70px;
              left: 13px;
            }

            &.keyname {
              font-size: 1.6em;
              top: 115px;
              margin: 0;
              text-shadow: 1px 1px 0 #7E6D1F;
            }
          }
        }
      }
    }
  }
}

#instructions {
  position: fixed;
  top: 410px;
  left: 50px;
  font: 11pt Rockwell;
  width: 90%;
}

#menu {
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0px;
  background-color: #CFCFCF;
  padding: 10px;
  .box-shadow(inset 0 0 20px #9C9C9C, 0 0 5px black);
  .user-select(none);

  div {
    display: inline-block;
    .border-radius(3px);
    .box-shadow(0 0 2px black);
    .gradient(center bottom, center top, #467023, #69AA35);
    cursor:pointer;
    font: 14pt Rockwell;
    color: white;
    text-shadow: 0 0 .2em black;
    padding: 7px;
    margin: 5px;

    &:active, &.pressed {
      .gradient(center bottom, center top, #287F8A, #4DBDCB);
    }

    .record {
      width: 10px;
      height: 10px;
      background: #333;
      .border-radius(20px);
      margin: 0;
    }

    .pause {
      margin: 0;
      border: solid black;
      border-width:0 9px 0 9px;
      height: 24px;
      width: 6px;
      padding: 0;
      .box-shadow(0 0 0);
      background-color: #4DBDCB;
      .gradient(center bottom, center top, #287F8A, #4DBDCB);
    }
  }
}

#pianoStrings {
  position: fixed;
  bottom: 10px;
  left: 20px;
  display: none;
  z-index: 123456;
}