@import "mixins.less";

#menu {
  position: relative;
  width: 835px;
  top: 0;
  left: 0;
  background-color: #CFCFCF;
  padding: 7px;
  .box-shadow(inset 0 0 20px #9C9C9C, 0 0 5px black);

  #save, #back {
    display: inline-block;
    cursor:pointer;
    font: 14pt Rockwell;
    color: white;
    text-shadow: 0 0 .2em black;
    padding: 7px;
    .border-radius(3px);
    .box-shadow(0 0 2px black);
    .gradient(center bottom, center top, #467023, #69AA35);

    &:active, &.pressed {
      background-color: #4DBDCB;
    }
  }

  #form {
    display: none;
    margin-top: 10px;

    input, textarea, div {
      display: block;
      width: 100%;

      &#notebookAndTags {
        margin-top: 5px;

        #noteNotebook {
          width: 24%;
          display: inline-block;
        }

        #noteTags, #fakeTags {
          width: 75%;
          margin-left: 5px;
          display: inline-block;

          &#noteTags {
            display: none;
          }
        }
      }

      &#noteContent, &#fakeContent {
        height: 100px;
        margin-top: 5px;

        &#noteContent {
          display: none;
        }
      }

      &#buttons {
        margin-top: 5px;

        #confirmation {
          color: green;
          font-weight: bold;
          display: none;
          margin-left: 10px;
          font: 13pt Rockwell;
        }
      }
    }
  }
}