#menu {
  position: relative;
  width: 850px;
  top: 0;
  left: 0;
  background-color: #CFCFCF;
  padding: 7px;

  #save, #back {
    background-color: #69AA35;
    display: inline-block;
    cursor:pointer;
    font: 14pt Verdana;
    padding: 7px;

    &:active, &.pressed {
      background-color: #4DBDCB;
    }
  }

  #form {
    display: none;
    margin-top: 10px;

    input, textarea, div {
      display: block;
      width: 100%;

      &#notebookAndTags {
        margin-top: 5px;

        #noteNotebook {
          width: 24%;
          display: inline-block;
        }

        #noteTags, #fakeTags {
          width: 75%;
          margin-left: 5px;
          display: inline-block;

          &#noteTags {
            display: none;
          }
        }
      }

      &#noteContent, &#fakeContent {
        height: 100px;
        margin-top: 5px;

        &#noteContent {
          display: none;
        }
      }

      &#buttons {
        margin-top: 5px;

        #confirmation {
          color: green;
          font-weight: bold;
          display: none;
          margin-left: 10px;
        }
      }
    }
  }
}